<div class="signupforms" data-aos="fade-up"
data-aos-duration="2000">
    <form [formGroup]="Signupform" (ngSubmit)="saveForm()" class="form-group">
    <h2><b>signup</b></h2>

    <input [class.is-invalid]="Signupform.get('username').touched && Signupform.get('username').invalid" type="text"
    placeholder="username" formControlName="username" name="username" class="form-control">

    <div *ngIf="Signupform.get('username').touched && Signupform.get('username').invalid">
       <small *ngIf="Signupform.get('username').errors['required']"  
       class="text-danger">username is required</small>

       <small *ngIf="Signupform.get('username').errors['minlength']"  
       class="text-danger">username must be atleast 3 charecters</small>
   </div>
    

    <input [class.is-invalid]="Signupform.get('first_name').touched && Signupform.get('first_name').invalid" type="text"
     placeholder="first_name" formControlName="first_name" name="first_name" class="form-control">

     <div *ngIf="Signupform.get('first_name').touched && Signupform.get('first_name').invalid">
        <small *ngIf="Signupform.get('first_name').errors['required']"  
        class="text-danger">first_name is requied</small>

        <small *ngIf="Signupform.get('first_name').errors['minlength']"  
        class="text-danger">first_name must be atleast 3 charecters</small>
    </div>
     


    <input [class.is-invalid]="Signupform.get('last_name').touched && Signupform.get('last_name').invalid" type="text"
    placeholder="last_name" formControlName="last_name" name="last_name" class="form-control">

    <div *ngIf="Signupform.get('last_name').touched && Signupform.get('last_name').invalid">
       <small *ngIf="Signupform.get('last_name').errors['required']"  
       class="text-danger">last_name is required</small>

       <small *ngIf="Signupform.get('last_name').errors['minlength']"  
       class="text-danger">last_name must be atleast 3 charecters</small>
   </div>
    
   <input type="email" name="" value="" placeholder="Email" formControlName="email" name="email"
   class="form-control" [class.is-invalid]="Signupform.get('email').invalid && Signupform.get('email').touched ">
   <small [class.d-none]="Signupform.get('email').valid || Signupform.get('email').untouched " class="text-danger">Email is requied</small>

   <input [class.is-invalid]="Signupform.get('password').touched && Signupform.get('password').invalid" type="password"
   placeholder="password" formControlName="password" name="password" class="form-control">

   <div *ngIf="Signupform.get('password').touched && Signupform.get('password').invalid">
      <small *ngIf="Signupform.get('password').errors['required']"  
      class="text-danger">password is required</small>

      <small *ngIf="Signupform.get('password').errors['minlength']"  
      class="text-danger">password must be atleast 6 charecters</small>
  </div>
    <p>Already have accont?<a routerLink="/Login">Login</a></p>

    <button class="btn btn-success" [disabled]="!Signupform.valid">signup</button>
    </form>
    </div>


    
    
    